<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	        <div class="main-w3layouts wrapper">
		        <h1 style = "color: white; font-family: Georgia, 'Times New Roman', Times, serif; margin-bottom: 0px; padding-bottom: 0px;">Welcome Aboard!</h1>
		            <div class="main-agileinfo">
			            <div class="agileits-top">
                        <form action="#" method="post">
                            <input class="text" type="text" name="fname" placeholder="Firstname" required="">
                            <input class="text" type="text" name="mname" placeholder="Middlename" required="">
                                <input class="text" type="text" name="lname" placeholder="Lastname" required="">
                                    
                                    <div class="form-inline">
                                    <select class="form-control form-control-sm" style="width: 30%; padding-right:1px;">
                                        <option style="color: slategrey">-Birth Month-</option>
                                        <%let month = ['January','Feburuary','March','April','May','June','July','August','September','October','November','December']%>
                                        <%for(var value of month){%>
                                          <option name="mm" value="<%= typeof month != 'undefined' ? month : ''%>"><%=value%></option>
                                        <%}%>
                                    </select>
                                    <select class="form-control form-control-sm" style="width: 18%">
                                        <option style="color: slategrey">-Day-</option>
                                        <%for (let day=1; day <= 31; day++) {%>
                                          <option name="dd" value="<%= typeof day != 'undefined' ? day : ''%>"><%=day%></option>
                                         <%}%>
                                    </select>
                                    <select class="form-control form-control-sm" style="width: 20%">
                                        <option style="color: slategrey">-Year-</option>
                                        <%for (let year=2015; year >= 1980; year--) {%>
                                          <option name="yy" value="<%= typeof day != 'undefined' ? day : ''%>"><%=year%></option>
                                         <%}%>
                                        
                                    </select>
                                    </div>
                                    <br>
                                    <input class="text" type="text" name="contact_number" placeholder="Contact No." required="">
                                    <input class="text" type="text" name="address" placeholder="Address" required="">
                                    <br>
                                <input class="text" type="text" name="username" placeholder="Username" required="">
                                <input class="text" type="text" name="email" placeholder="Email" required="">
                                <input class="text" type="password" name="password" placeholder="Password" required="">
                                <input class="text" type="password" name="password2" placeholder="Re-enter Password" required="">
                                            
					<div class="wthree-text">
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGN UP">
				</form>
        <p>Already have an account? <a href="login">Sign In</a></p>
        
      <%- include('../partials/messages')%>
			</div>
		</div>
	</div>