<form style = "align-self: center;" action="/users/register" method="POST">  
    <div class="container">  
      <h1>Sign Up</h1>
        
        <hr> 
          <label>First Name : </label><span style="color:red">*</span>   
            <input type="text" name="fname" value="<%= typeof fname != 'undefined' ? fname : '' %>" placeholder= "First name" size="10" required/>

          <label>Middle Name : </label><span style="color:red">*</span>   
            <input type="text" name="mname" value="<%= typeof mname != 'undefined' ? mname : '' %>" placeholder="Middle name" size="10" required/>
               
          <label>Last Name : </label><span style="color:red">*</span>  
            <input type="text" name="lname" value="<%= typeof lname != 'undefined' ? lname : '' %>" placeholder="Last name" size="10"required/>   
        
            <label for="birthday">Birthday :</label><span style="color:red">*</span>
            <input type="date" id="birthday" name="bday" value="<%= typeof bday != 'undefined' ? bday : '' %>" required>
          
              <div>  
              <label>Gender : </label><br>  
              <input type="radio" value="Male" name="gender" checked>Male   
              <input type="radio" value="Female" name="gender"> Female   
              </div>  

                <label>Contact No. : </label><span style="color:red">*</span>  
                <input type="text" name="phone" value="<%= typeof phone != 'undefined' ? phone : '' %>" placeholder="phone no." value="+63" size="2"required>   

                    <label>Current Address :</label><span style="color:red">*</span>  
                    <input type="text" name="address" value="<%= typeof address != 'undefined' ? address : '' %>" placeholder="Current Address" required>   

                    <hr>
                 <label><b>Username :</b></label><span style="color:red">*</span>  
                <input type="text" name="username" value="<%= typeof username != 'undefined' ? username : '' %>" placeholder="Username" size="10"required/>   
                
                <label for="email"><b>Email</b></label><span style="color:red">*</span> 
                <input type="text" placeholder="Enter Email" name="email" value="<%= typeof email != 'undefined' ? email : '' %>" required>  
    
              <label for="psw"><b>Password</b></label><span style="color:red">*</span>  
              <input type="password" placeholder="Enter Password" name="psw" value="<%= typeof psw != 'undefined' ? psw : '' %>"required>  
            
            <label for="psw2"><b>Re-enter Password</b></label><span style="color:red">*</span>  
            <input type="password" placeholder="Retype Password" name="psw2" value="<%= typeof psw2 != 'undefined' ? psw2 : '' %>"required> 
            
            <span style="color:red">* This field is required.</span>

      <div class="container">
        <div class="vertical-center">
          <button type="submit" class="registerbtn">Register</button>
          <br>Already have an account? <a href="/users/login" style="color:darkslateblue">Sign In</a>    
      </div>
        </div>
</form>  